body {
    position: relative;
    background: #FFFFFF;
    width: 980px;
    margin: auto;
    font-family: "JetBrains Mono";
}


.whole {
    position: fixed;
    width: 1059.94px;
    height: 1159.82px;
    left: 350px;
    top: -221.74px;
    background: linear-gradient(182.27deg, #1DF80A -75.6%, rgba(218, 255, 215, 0) 98.09%);
    border-radius: 232px;
    transform: matrix(0.98, 0.21, -0.5, 0.87, 0, 0);
    z-index: -1;
}


.logo-img {
    width: 181px;
    height: 166px;
    left: 110px;
    top: 37px;
    background: url(../images/logo.png) center/cover;
}

.top {
    display: flex;
    justify-content: space-between;
}


.navbar {
    height: 32px;
    margin-top: 90px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    align-items: center;
    text-align: center;
    width: 50%;
    color: #000000;

}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 650;
    display: inline-block;
    position: relative;
    text-shadow: 10px;

}

nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #096A2E;
    position: absolute;
    left: 0;
    transition: width 0.3s ease;
    bottom: 3px;
}

nav a:hover::after {
    width: 100%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
}

nav a:active::after {
    box-shadow: none;
}



.main {
    display: flex;
    justify-content: space-between;
}

.welcome-message {
    margin-top: 20px;
    width: 78%;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 570;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #176B3E;
}

.left-box {
    width: 50%;
}

.right-box {
    width: 50%;
}

.outerbox {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background: #60CA56;
    border-radius: 60px;
    text-align: center;
    align-items: center;
}

.innerbox {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
    text-align: center;
    align-items: center;
}

.Summaryheading {
    height: 33px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.instititutionhead {
    padding-top: 30px;
    height: 21px;
    top: 325px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 6 00;
    font-size: 20px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
}

.emogis,
.stats {
    display: flex;
    justify-content: space-evenly;
}

.studentimgcontainer,
.sectionimgcontainer {
    margin-top: 80px;
    box-sizing: border-box;
    width: 59px;
    height: 57px;
    top: 388px;
    text-align: center;
    align-items: center;
    background: #48D8A4;
    border: 1px solid #000000;
    border-radius: 20px;
    padding-top: 7px;
}

.studentimgcontainer img,
.sectionimgcontainer img {
    width: 40px;
}

.studentcount,
.sectioncount {
    font-family: 'JetBrains Mono';

    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #000000;
}


footer {
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    text-align: center;
    font-size: x-small;
    margin-top: 40px;
}