<div class="top">
    <div class="logo-img">
    </div>
    <div class="navbar">
        <nav>
            <a href="/">Home</a>
            <a href="/">Attendance</a>
            <a href="/sections">Sections</a>
            <a href="/">Classlist</a>
            <a href="/">Profile</a>
        </nav>
    </div>
</div>