<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/others/style2.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
</head>

<body>
    <div class="top">
        <div class="logo-img">
        </div>
        <div class="navbar">
            <nav>
                <a href="">Attendance</a>
                <a href="">Sections</a>
                <a href="">Classlist</a>
                <a href="">Profile</a>
            </nav>
        </div>
    </div>
