<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Profile</title>
    <link rel="stylesheet" href="/others/profilestyles.css">
    <script src="/functions/Profilefunc.js" defer> </script>
</head>

<body>
    <%- include('../partials/top'); %>
        <div class="main">
            <div class="left">
                <div class="left-heading">
                    <P>Dashboard</P>
                </div>
                <div class="left-main">
                    <div class="DB-left-left">
                        <div class="DB-fullnamecontainer">
                            <p class="DB-fullname"></p>
                        </div>
                        <div class="DB-emailaddresscontainer">
                            <p class="DB-emailaddress"></p>
                        </div>
                        <div class="DB-phonenumbercontainer">
                            <p class="DB-phonenumber"></p>
                        </div>
                        <div class="DB-institutioncontainer">
                            <p class="DB-institution"></p>
                        </div>
                        <div class="DB-designationcontainer">
                            <p class="DB-designation">Designation: Professor</p>
                        </div>
                        <div class="DB-postalcodecontainer">
                            <p class="DB-postalcode"></p>
                        </div>
                    </div>
                    <div class="DB-left-right">
                        <div class="DB-studentemogicontainer">
                            <img src="/images/student.png">
                        </div>
                        <p class="DB-studentstat">54 Students</p>
                        <div class="DB-sectionemogicontainer">
                            <img src="/images/section.png">
                        </div>
                        <p class="DB-sectionstat">4 Sections</p>
                    </div>

                </div>
            </div>
            <div class="right">
                <div class="image-right">
                    <img src="/images/Profile.png">
                </div>
                <div class="name-holder">
                    <P class="prof_name"></P>
                </div>
                <div class="right-buttons-holder">
                    <div class="dashboard-button">
                        <P class="button-label">Dashboard</P>
                    </div>
                    <div class="accountSettings-button">
                        <P class="button-label">Account Settings</P>
                    </div>
                    <div class="changepassword-button">
                        <P class="button-label">Change Password</P>
                    </div>
                    <div class="logout-button">
                        <P class="button-label">Logout</P>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay">
            <div class="overlay-holder">
                <div class="overlay_container">
                    <div class="overlay_heading">
                        <p>Are you sure you want to logout?</p>
                    </div>
                    <div class="stayback-button-holder">
                        <button class="stayback">No, Stay in</button>
                    </div>
                    <div class="logout-button-holder">
                        <button class="logout">Yes, logout</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/foot'); %>