<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Attendance</title>
    <link rel="stylesheet" href="/others/atndstyles.css">
    <script src="/functions/attendfunc.js" defer></script>

<body>
    <%- include('partials/top'); %>
        <div class="main">
            <div class="left">
                <div class="left-heading">
                    <div class="empty-left"></div>
                    <P class="head-header">Attendance</P>
                    <div class="week-holder">
                        <select class="week-select-button">
                            <option>Week 1</option>
                            <option>Week 2</option>
                            <option>Week 3</option>
                            <option>Week 4</option>
                        </select>
                    </div>

                </div>
                <div class="left-main">
                    <div class="attendanceheader">
                        <p>Student ID</p>
                        <p>Student Name</p>
                        <P>Status</P>
                    </div>
                </div>
                <div class="attendanceupdatemessagebox">
                    <p class="attupdatemessage">Select a Section to see the attendance Status</p>

                </div>
            </div>
            <div class="right">
                <div class="right-header">
                    <p>Sections</p>
                </div>
                <div class="sections-button-container">
                    <div class="section-button">
                        <P class="sectionbutton-label">section 1</P>
                    </div>
                    <div class="section-button">
                        <P class="sectionbutton-label">section 2</P>
                    </div>
                    <div class="section-button">
                        <P class="sectionbutton-label">section 3</P>
                    </div>
                    <div class="section-button">
                        <P class="sectionbutton-label">section 4</P>
                    </div>
                </div>
            </div>
        </div>



        <%- include('partials/foot'); %>