<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Classlist</title>
    <link rel="stylesheet" href="/others/clsstyles.css">
    <script src="/functions/classlistfunc.js" defer></script>

<body>

    <%- include('partials/top'); %>
    <div class="main">
        <div class="left">
            <div class="left-heading">
                <P>Actions</P>
            </div>
            <div class="left-main">
                <div class="clst-stu-img-container">
                    <img src="/images/student.png">
                </div>
                <div class="clst-stu-count">
                    <p class="stu-count"></p>
                </div>
                <div class="email-button-holder">
                    <div class="email-button">
                        <img src="/images/Email.png">
                        <p>Email</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="middle-heading">
                <P class="middle-header">Classlist </P>
            </div>
            <div class="middle-main">
                <div class="classlistheader">
                    <P>Image</P>
                    <p>Student ID</p>
                    <p>Student Name</p>
                    <p>Role</p>
                    <p>Email</p>
                </div>
            </div>
            <p class="emptyclasslistmessage">Select a section to view the list of students</p>
        </div>
        <div class="right">
            <div class="right-header">
                <p>Sections</p>
            </div>
            <div class="sections-button-container">
                <div class="section-button">
                    <P class="sectionbutton-label">section 1</P>
                </div>
                <div class="section-button">
                    <P class="sectionbutton-label">section 2</P>
                </div>
                <div class="section-button">
                    <P class="sectionbutton-label">section 3</P>
                </div>
                <div class="section-button">
                    <P class="sectionbutton-label">section 4</P>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/foot'); %>