<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/others/style2.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <link rel="icon" href="/images/logo.png" type="image/icon type">
</head>

<body>
    <div class="whole"></div>
<%- include('partials/top'); %>
    <div class="main">
        <div class="left-box">
            <div class="welcome-message">
                <P>Welcome to StudySync, Your new gateway to teaching </P>
            </div>
        </div>
        <div class="right-box">
            <div class="outerbox">
                <div class="innerbox">
                    <div class="Summaryheading">
                        <P>Account Summary</P>
                    </div>
                    <div class="instititutionhead">
                        <P>Centennial College</P>
                    </div>
                    <div class="emogis">
                        <div class="studentimgcontainer">
                            <img src="/images/student.png">
                        </div>
                        <div class="sectionimgcontainer">
                            <img src="/images/section.png">
                        </div>
                    </div>
                    <div class="stats">
                        <div class="studentcount">
                            <P>0 Students</P>
                        </div>
                        <div class="sectioncount">
                            <P>0 Sections</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/foot'); %>