<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/others/homestyles.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <link rel="icon" href="/images/logo.png" type="image/icon type">
</head>

<body>
    <div class="whole"></div>
    <%- include('partials/top'); %>
        <div class="main">
            <div class="left-box">
                <div class="welcome-message">
                    <P>Welcome to StudySync, Your new gateway to teaching </P>
                </div>
            </div>
            <div class="right-box">
                <div class="outerbox">
                    <div class="innerbox">
                        <div class="Summaryheading">
                            <P class="summary-text"></P>
                        </div>
                        <div class="instititutionhead">
                            <P class="institution-text"></P>
                        </div>
                        <div class="emogis">
                            <div class="studentimgcontainer">
                                <img src="/images/student.png">
                            </div>
                            <div class="sectionimgcontainer">
                                <img src="/images/section.png">
                            </div>
                        </div>
                        <div class="stats">
                            <div class="studentcount">
                                <P>54 Students</P>
                            </div>
                            <div class="sectioncount">
                                <P>4 Sections</P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/foot'); %>

            <script>
                window.onload = async () => {
                    try {
                        const res = await fetch('/userdetails', {
                            method: 'get',
                            headers: {
                                'content-type': 'application/json'
                            }
                        })
                        if (res.ok) {
                            const data = await res.json()
                            let sysdate = new Date();
                            console.log(sysdate)
                            let currenthour = sysdate.getHours()
                            if (currenthour >= 0 && currenthour < 12) {
                                document.querySelector('.summary-text').textContent = 'Good morning, ' + data.firstname
                            }
                            else if (currenthour >= 12 && currenthour < 18) {
                                document.querySelector('.summary-text').textContent = 'Good afternoon, ' + data.firstname
                            }
                            else {
                                document.querySelector('.summary-text').textContent = 'Good evening, ' + data.firstname
                            }
                            document.querySelector('.institution-text').textContent = data.institution;
                        }
                        else {
                            console.log('no data found')
                        }
                    }
                    catch (err) {
                        console.log(err)
                    }
                }
            </script>