<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sections</title>
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <link rel="stylesheet" href="/others/style3.css">
</head>

<body>
    <div class="main">
    </div>
    <%- include('partials/top'); %>
        <div class="sectionouterdiv">
            <div class="sectioninnerdiv">
                <div class="section-top">
                    <div class="section-heading">
                        <P>Sections</P>
                    </div>
                    <div class="sectionimgcontainer">
                        <img src="/images/section.png">
                    </div>
                </div>
                <div class="section-main">
                    <div class="section-head">
                        <div class="section-content">
                            <div class=" section-label">
                                <P>Section 1</P>
                            </div>
                            <div class="content-image">
                                <img src="/images/sub-section.png">
                            </div>
                        </div>
                    </div>
                    <div class="section-head">
                        <div class="section-content">
                            <div class=" section-label">
                                <P>Section 2</P>
                            </div>
                            <div class="content-image">
                                <img src="/images/sub-section.png">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="section-button">
                    <button type="button" class="round-button">+</button>
                </div>

            </div>
        </div>
        <%- include('partials/foot'); %>
        <script>
            let sectionIcon = document.querySelector('.section-head')
            sectionIcon.onclick = function(){
            window.location='/assignments'
            }
        </script>