<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/others/styles.css">
</head>

<body>
    <div id="left-side">
        <div id="logo-div">
            <img src="/images/logo.png" class="logo-img">
        </div>
        <div class="welcome-message">
            <P>Connect and Conquer: Sign In for a New Experience.</P>
        </div>
        <div class="remindermessage">
            <P class="CTA">Already have an account?</P>
            <p id="sign-inmessage">Login</p>
        </div>
    </div>
    <div id="right-side">
        <div class="signup-head">
            <h2>Create an Account</h2>
        </div>
        <div class="form-part">
            <form>
                <div class="signup-form-row">
                    <div class="signup-firstname">
                        <div class="form-label">
                            <label for="firstname" id="firstname">First name</label>
                        </div>
                        <div class="form-input">
                            <input type="text" id="firstname" required>
                        </div>
                    </div>
                    <div class="signup-lastname">
                        <div class="form-label">
                            <label for="lastname" id="lastname">Last name</label>
                        </div>
                        <div class="form-input">
                            <input type="text" id="lastname">
                        </div>
                    </div>
                </div>
                <div class="signup-form-row">
                    <div class="signup-DOB">
                        <div class="form-label">
                            <label for="DOB" id="DOB">Date of birth</label>
                        </div>
                        <div class="form-input">
                            <input type="date" id="DOB">
                        </div>
                    </div>
                    <div class="signup-institution">
                        <div class="form-label">
                            <label for="institution" id="institution">Institution</label>
                        </div>
                        <div class="form-input">
                            <input type="text" id="Institution">
                        </div>
                    </div>
                </div>
                <div class="signup-form-row">
                    <div class="signup-phone-no">
                        <div class="form-label">
                            <label for="phone-no" id="phone-no">Phone number</label>
                        </div>
                        <div class="form-input">
                            <input type="tel" id="phone-no" minlength="10" maxlength="13" placeholder="1234567890">
                        </div>
                    </div>
                    <div class="signup-postal">
                        <div class="form-label">
                            <label for="postal" id="postal">Postal code</label>
                        </div>
                        <div class="form-input">
                            <input type="text" id="postal">
                        </div>
                    </div>
                </div>
                <div class="signup-form-row">
                    <div class="signup-email">
                        <div class="form-label">
                            <label for="email" id="email">Email</label>
                        </div>
                        <div class="form-input">
                            <input type="email" id="email">
                        </div>
                    </div>
                </div>
                <div class="signup-form-row">
                    <div class="signup-password">
                        <div class="form-label">
                            <label for="password" id="password">Password</label>
                        </div>
                        <div class="form-input">
                            <input type="password" id="password">
                        </div>
                    </div>
                    <div class="signup-confirm-password">
                        <div class="form-label">
                            <label for="confirm-password" id="confirm-password">Confirm your Password</label>
                        </div>
                        <div class="form-input">
                            <input type="password" id="confirm-password">
                        </div>
                    </div>
                </div>
                <div class="signuperr">
                </div>
                <div class="signup-submit">
                    <button type="button" id="signup-submit-button">Register</button>
                </div>

            </form>
        </div>
    </div>
</body>

</html>
<script>
    let login_message = document.getElementById('sign-inmessage')
    login_message.onclick = function () {
        window.location.href = '/login'
    }
</script>