<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Profile/Change Password</title>
    <link rel="stylesheet" href="/others/Profile_page_CSS/Style1.css">
    <script src="/functions/Profilefunc.js" defer></script>
</head>

<body>
    <%- include('../partials/top'); %>
        <div class="main">
            <div class="left">
                <div class="left-heading">
                    <P>Change Password</P>
                </div>
                <div class="left-main">
                    <div class="leftempty">
                    </div>
                    <div class="left-body">
                        <p class="cplabels">Email address</p>
                        <input type="text" class="cpemail">
                        <p class="cplabels">Current Password</p>
                        <input type="password" class="cpcurrentpassword">
                        <p class="cplabels">New Password</p>
                        <input type="password" class="cpnewpassword">
                        <p class="cplabels">Confirm new Password</p>
                        <input type="password" class="cpconfirmpassword">
                        <div class="messagebox"></div>
                    </div>
                    <div class="saveright">
                        <button class="savebutton">Save</button>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="image-right">
                    <img src="/images/Profile.png">
                </div>
                <div class="name-holder">
                    <P class="prof_name"></P>
                </div>
                <div class="right-buttons-holder">
                    <div class="dashboard-button">
                        <P class="button-label">Dashboard</P>
                    </div>
                    <div class="accountSettings-button">
                        <P class="button-label">Account Settings</P>
                    </div>
                    <div class="changepassword-button">
                        <P class="button-label">Change Password</P>
                    </div>
                    <div class="logout-button">
                        <P class="button-label">Logout</P>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay">
            <div class="overlay-holder">
                <div class="overlay_container">
                    <div class="overlay_heading">
                        <p>Are you sure you want to logout?</p>
                    </div>
                    <div class="stayback-button-holder">
                        <button class="stayback">No, Stay in</button>
                    </div>
                    <div class="logout-button-holder">
                        <button class="logout">Yes, logout</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/foot'); %>